.header{
  width: 100%;
  height: 150px;
  background-color: #42a5f5;
  animation: fadein .5s;
  transition: .5s;
  display: flex;
  flex-direction: row;

}

.header_busqueda{
  padding: 0;
  width: 26%;
  margin: auto;
}
.search_fixed{
  width: 100%;
  height: 80px;
  background-color: #42a5f5;
  position:fixed;
  transition: .2s;
  z-index:1000;
  box-shadow: 0px 10px 52px -9px rgba(0,0,0,0.8);
}

.container {
  padding: 6px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  font-weight: 250;
  font-size: 40px;
  color: #555;
}

.container_fixed {
  width: 500px;
  margin: auto;
  padding: 6px 16px;
}


.Search-box {
  padding: 6px 16px;
  width: 100%;
  height: 60px;
  border: 0;
  font-size: 19px;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
  vertical-align: center;
  border-radius: 5px 0 0 5px;
}

.Search-box:focus {
  flex: 1 0;
  outline: 0;
  box-shadow: 0 3px 15px -1px rgba(0, 0, 0, .5);
}

.Search-box:-ms-clear {
    display: none;
}

.Search-label {
  cursor: pointer;
  height: 35px;
  padding: 13px;
  font-size: 30px;
  background-color: #0d47a1;
  color: white;
  transition: all .15s ease-in-out;
  border-radius: 0 5px 5px 0;
}

.login{
  margin: 40px 80px 0 0;
  height: 45px;
  display: flex;
  justify-content: center;
  font-size: 45px;
  cursor: pointer;
  color: #fff;
}

.login_fixed{
  margin: 20px 80px 20px 0;
  font-size: 40px;
}

.parametros{
  visibility: visible;

}
.parametros_fixed{
  visibility: hidden;
}
