@import url("http://fonts.googleapis.com/css?family=Roboto:200,400,700");

*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: Roboto, 'Sans-serif';
  background-color: #e3f2fd;
}
.header{
  width: 100%;
  height: 200px;
  background-color: #42a5f5;
}
.container {
  width: 500px;
  margin: auto;
  padding: 50px;
}

.Search {
  position: relative;
  display: flex;
  font-weight: 250;
  font-size: 40px;
  color: #555;
}

.Search-box {
  flex: 1 0 auto;
  margin: 0 12px;
  padding: 6px 16px;
  height: 60px;
  border: 0;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
  transition: all .15s ease-in-out;
}

.Search-box:focus {
  flex: 1 0;
  outline: 0;
  box-shadow: 0 3px 15px -1px rgba(0, 0, 0, .5);
}

.Search-box:-ms-clear {
    display: none;
}

.Search-label {
  position: absolute;
  cursor: pointer;
  padding: 13px;
  right: 0px;
  font-size: 30px;
  background-color: #0d47a1;
  color: white;
  transition: all .15s ease-in-out;
}

.peliculas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 20px;
  width: 80%;
}

.card{
  margin: 15px;
  background-color: #ffffff;
  width: 250px;
  min-width: 250px;
  animation: fadein 2s;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.card:hover{
  transition: 1s;
  box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.8);
}
.header_card{
  overflow: hidden;
}
.img{
  border-radius: 10px 10px 0 0;
  width: 250px;
  height: 350px;
  transition: all 1s ease;
}

.img:hover{
  border-radius: 10px 10px 0 0;
  transform: scale(1.2, 1.2);
}

.title{
  padding: 15px;
  font-size: 20px;
}

.info{
  padding: 5px 15px 15px 15px;
  opacity: 0.7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.footer{
  padding: 10px;
  font-family: Roboto;
  font-size: 18px;
  text-decoration: none;
  color: #1565c0;
  border: 0;
  transition: 0.3s;
  font-size: 18px;
}

.footer:hover{
  background-color: #1565c0;
  color: #fff;
  transition: 0.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
