@import url("http://fonts.googleapis.com/css?family=Roboto:200,400,700");

*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: Roboto, 'Sans-serif';
  background-color: #e3f2fd;
  overflow-x:hidden;
}

.all_content{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
