.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2b9dc0;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);
}
.select-styled:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
.select-styled:hover {
  background-color: darken(#2b9dc0, 2);
}
.select-styled:active, .select-styled.active {
  background-color: darken(#2b9dc0, 5);
}
.select-styled:active .select-styled:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
  }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #0f527f;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid darken(#2b9dc0, 10);
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #2b9dc0;
  background: #fff;
}
.select-options li:hover[rel="hide"] {
  display: none;
}
