.populares_title{
  padding-top: 20px;
}
.slider-frame{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  animation: fadein 1s;
  overflow: hidden;
}

.slider-container, .carteles{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  transition: 1.2s;

}

.img_slider{
  width: 182px;
  height: 268  px;
}

.btn{
  position: absolute;
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 268px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
  transition: 0.3s;
  color: #1976d2;
}

.btn:hover{
  color: #01579b;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}

.prev{
  left: 0;
  visibility: hidden;
}

.next{
  right: 0;
}

hr{
  margin-top: 15px;
  background-color: rgba(0,0,0,0.3);
  height: .5px;
}
