{% extends 'index.html' %}

{% block head %}
  <head>
    <meta charset="UTF-8">
    <title>mae.com</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/popup_login.css">
    <link rel="stylesheet" href="css/popup_info.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/peliculas.css">
    <link rel="stylesheet" href="css/select_menu.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
{% endblock %}
