<!DOCTYPE html>
<html lang="en">
<!-- Importar todos los archivos css -->
  {% block head %}
  {% endblock %}

  <!-- JS de jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <!-- JS para cuando se cambie el tamaño de la web y volver arriba -->
  <script>
  $(window).resize(function() {
    location.reload();
    window.scrollTo(0, 0);
  });
  </script>

  <body>
    <!-- Menú de la parte arriba -->
      {% block header %}
      {% endblock %}

    <!-- JS para el menú pegajoso -->
      <script src="js/sticky_menu.js" charset="utf-8"></script>

    <!-- JS para el menú de select de categorías -->
      <script src="js/select_menu.js" charset="utf-8"></script>

    <!-- Esto es para que funcione el popup -->
      <script src="js/popup.js" charset="utf-8"></script>
      <script src="js/popup_info.js" charset="utf-8"></script>

      {% block irArriba %}
      {% endblock %}

    <!-- JS para que el botón de ir arriba funione -->
      <script src="js/goUp.js" charset="utf-8"></script>

      {% block body %}
      {% endblock %}

    <!-- JS para el slider -->
      <script src="js/slider.js" charset="utf-8"></script>

      {% block footer%}
      {% endblock %}
  </body>
</html>
